@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');


/*-----------general--------*/
* {
    margin: 0;
}


body {
    font-family: "Oswald", sans-serif;
    color: #777777;
}

/*--------color-------------*/


/*-------logo----------*/

.logo {
    background: url("../images/rehab-logo.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 75px;
    margin: 20px 5px 2px 5px;
}

.menu-color {
    background-color: #e7971f;
    margin: 10px 0 0 15px;
    font-family: "Oswald" sans-serif;
    font-size: 30px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}