@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
/*-----------general--------*/
* {
    margin: 0;
}


body {
    font-family: "Oswald", sans-serif;
    color: #777777;
}

/*-----------color--------*/



/*-----------logo--------*/


.logo {
    background: url(../images/rehab-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px 0 10px 4px;
}

/*-----------navbar--------*/

.navigation {
    margin-top: 10px;
    background-color: #f0a13a;

}