@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');


/*-----------general--------*/
* {
    margin: 0;
}


body {
    font-family: "Oswald", sans-serif;
    color: #777777;
}

/*--------color-------------*/
.menu-color-home {
    background-color: #e7971f;
}
.menu-color-service {
    background-color: #e7971f;
}
.menu-color-about {
    background-color: #e7971f;
}
.menu-color-contact {
    background-color: #e7971f;
}

/*-------logo----------*/

.logo {
    background: url("../images/rehab-logo.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 75px;
    margin: 20px 10px 5px 20px;
    float: left;

    
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.ul-menu {
    font-size: 0;
}

#nav li {
    font-size:  25px;
    font-weight: 300;
    text-decoration: none;
    width: 100%;
    height: 50px;

}

a {
    display: inline;
    letter-spacing: 5px;
    color: #777777;
    text-decoration: none;
    text-transform: uppercase;
}

.appointment {
    background-color: #747474;
    float: right;

}